@font-face{
    font-family: Digitalized;
    src: url(./fonts/Digitalized-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    font-family: Digitalized;
    font-weight: bold;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
    grid-template-rows: 90vh 10vh;
}
main{
    border-radius: 10px;
    border: 35px solid #363636;
    box-shadow: -2px 0 black, 0 2px black, 1px 0 white, 0 -1px white;
}
.box{
    padding: 10px;
    background-color: #93a67e;
    border-radius: 2px;
    box-shadow: 2px 0 inset black, 0 -2px inset black, -1px 0 inset white, 0 1px inset white;
}

/* top section */
.top{
    display: grid;
    grid-template-columns: 400px 90px;
    grid-template-rows: repeat(2, 70px);
    border-bottom: 2px solid black;
    padding: 10px 0;
}
.top p{
    line-height: 0.69; /*dont ask me why, it works(it align the extra space to the text nicely)*/
    align-self: end;
}
.top p:nth-child(1){
    font-size: 200px;
    grid-area: 1 / 1 / 3 / 2;
}
.top p:nth-child(1)::before{
    content: '88:88'; /*font kinda not align properly, probably due to font*/
    opacity: 0.1;
    position: absolute;
}
.mr{
    font-size: 40px;
    justify-self: center;
    margin-bottom: 10px;
}
.second::before{
    content: '88';
    position:absolute;
    opacity: 0.1;
}
.second{
    font-size: 100px;
    grid-area: 2 / 2 / 3 / 3;
}

/* bot section */
.bot{
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bot p{
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    line-height: 0.69; /*nice*/
}
.bot p:nth-child(2):hover{
    background-color: #bed5a4;
    cursor: pointer;
}
.tip{
    color: yellow; 
    position: absolute; 
    bottom: 10vh; 
    font-weight: 500; 
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}
.tip-active{
    opacity: 1;
    transition: opacity 0.5s;
}
/* footer */
footer{
    color: yellow;
}
footer p{
    color:#93a67e;
    font-size: 20px;
}

/* popup */
.popup-bg{
    z-index: 1;
    background-color: rgb(128, 128, 128, 0.8);
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none; /*set an element react to the user pointer or not*/
    transition: opacity 0.5s;
}
.popup-bg-active{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
}
.popup-box{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    width: 50vh;
    height: 90vh;
    border-radius: 5px;
    background-color: #363636;
    display: grid;
    grid-template-rows: 40px 75vh 10vh;
    padding: 20px;
    box-shadow: 2px 0 inset black, 0 -2px inset black, -1px 0 inset white, 0 1px inset white;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}
.popup-active{
    pointer-events: auto;
    top: 0;
    opacity: 1;
    transition: opacity 0.5s;
}
.popup-box h1{
    justify-self: center;
    color: white;
    font-weight: 500;
}
.country{
    overflow-y: auto;
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    display: grid;
    grid-template-rows: 50px;
    gap: 10px;
    grid-auto-rows: 50px;
}
/* custom scrollbar */
/* scrollable, not visible */
::-webkit-scrollbar{
    display: none;
}
/* ======== */
.country p{
    box-shadow: 2px 0 inset black, 0 -2px inset black, -2px 0 inset white, 0 2px inset white;
    background-color: #93a67e;
    display: grid;
    place-items: center;
}
.country p:hover{
    background-color: #bed5a4;
}
.country p:active{
    font-size: 28px;
    background-color: #93a67e;
    box-shadow: none;
    border: 5px solid #363636;
    color: #363636;
}
p.country-active{
    color: #363636;
    pointer-events: none;
    font-size: 28px;
    background-color: #93a67e;
    box-shadow: none;
    border: 5px solid #363636;
}
.popup-box button{
    background-color: #93a67e;
    border: none;
    margin-top: 10px;
    font-family: inherit;
    font-size: 24px;
    box-shadow: 2px 0 inset black, 0 -2px inset black, -2px 0 inset white, 0 2px inset white;
}
.popup-box button:hover{
    background-color: #bed5a4;
}
.popup-box button:active{
    font-size: 23px;
    background-color: #93a67e;
    box-shadow: none;
    border: 4px solid #363636;
}